<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Логин: <input type="text" name="login"></label><br>
        <label>Пароль: <input type="password" name="password"></label><br>
        <label>Полное имя: <input type="text" name="fullname"></label><br>
        <label>Email: <input type="email" name="email"></label><br>
        <label>О себе: <textarea name="about"></textarea></label><br>
        <label>Аватар: <input type="file" name="avatar"></label><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
